################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VehEvalu8/FileContentIndex/c3809f01-31b9-4600-bc6f-626ddbc785c8.vsidx
/.vs/VehEvalu8/FileContentIndex/8dc91113-714f-4037-9307-036526f448bb.vsidx
/.vs/VehEvalu8/FileContentIndex/04197372-291f-410b-94a3-59ca187ef3b3.vsidx
/.vs/VehEvalu8/FileContentIndex/3678c9d4-cf92-4508-9e3c-dd0cbe5aedb9.vsidx
