################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VehEvalu8/FileContentIndex/c3809f01-31b9-4600-bc6f-626ddbc785c8.vsidx
